<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="mpo_700">
  
  <!-- common stuff -->
  <!--include filename="$(find neo_robot_descriptions)/mpo_700/common.xacro" />
  <include filename="$(find neo_robot_descriptions)/mpo_700/materials.urdf.xacro" /-->
  
  <!-- base -->
  <include filename="$(find neo_robot_descriptions)/mpo_700/base.urdf.xacro" />
 
  
</robot>
