<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mpo_500">

    <xacro:include filename="$(find neo_robot_descriptions)/mpo_500/xacro_macros/sick_s300_laser.urdf.xacro" />
    <xacro:include filename="$(find neo_robot_descriptions)/mpo_500/xacro_macros/omni_wheel.urdf.xacro" />
    <xacro:include filename="$(find neo_robot_descriptions)/mpo_500/xacro_macros/materials.urdf.xacro"/>	
    <xacro:include filename="$(find neo_robot_descriptions)/mpo_500/xacro_macros/mpo_500_body.urdf.xacro"/>

    <xacro:macro name="mpo_500" params="name">
        <!-- BASE -->
        <xacro:mpo_500_base name="${name}_base_link" />
        <!-- WHEELS -->
        <xacro:omni_wheel_250 name="${name}_wheel_front_left" parent="${name}_base_link">
            <origin xyz="0.25 0.28 0.13" rpy="0 0 0" />
        </xacro:omni_wheel_250>
        <xacro:omni_wheel_250 name="${name}_wheel_front_right" parent="${name}_base_link">
            <origin xyz="0.25 -0.28 0.13" rpy="0 0 0" />
        </xacro:omni_wheel_250>
        <xacro:omni_wheel_250 name="${name}_wheel_back_left" parent="${name}_base_link">
            <origin xyz="-0.25 0.28 0.13" rpy="0 0 0" />
        </xacro:omni_wheel_250>
        <xacro:omni_wheel_250 name="${name}_wheel_back_right" parent="${name}_base_link">
            <origin xyz="-0.25 -0.28 0.13" rpy="0 0 0" />
        </xacro:omni_wheel_250>
        <!-- LASER SCANNER -->
        <xacro:sick_s300_laser_v0 name="${name}_laserfront" parent="${name}_base_link" ros_topic="${name}/laserfront/scan">
            <origin xyz="0.442 0 0.333" rpy="0 0 0" />
        </xacro:sick_s300_laser_v0>
        <xacro:sick_s300_laser_v0 name="${name}_laserback" parent="${name}_base_link" ros_topic="${name}/laserback/scan">
            <origin xyz="-0.442 0 0.333" rpy="0 0 3.14" />
        </xacro:sick_s300_laser_v0>
    </xacro:macro>
  
</robot>
