<?xml version="1.0"?>
<robot name="mp_400">

  <link name="base_link">
    <visual>
      <geometry>
        <box size=".823 .592 .361"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.71"/>
      <material name="yellow">
      	<color rgba=".8 .8 0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size=" .9 .6 .4"/>
      </geometry>
    </collision>
  </link>


  <link name="right_wheel">
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.075"/>
      </geometry>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <material name="blue">
        <color rgba="0 .8 .8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.03" radius="0.075"/>
      </geometry>
    </collision>
  </link>

  <joint name="base_to_right_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="right_wheel"/>
    <origin xyz="0 0.265 0.08"/>
  </joint>


  <link name="left_wheel">
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.130"/>
      </geometry>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <material name="blue">
        <color rgba="0 .8 .8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.03" radius="0.130"/>
      </geometry>
    </collision>
  </link>

  <joint name="base_to_left_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="left_wheel"/>
    <origin xyz="0 -0.265 0.08"/>
  </joint>



  <link name="back_wheel">
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.130"/>
      </geometry>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <material name="blue">
        <color rgba="0 .8 .8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.03" radius="0.130"/>
      </geometry>
    </collision>
  </link>

  <joint name="base_to_back_wheel" type="fixed">
    <parent link="base_link"/>
    <child link="back_wheel"/>
    <origin xyz="0 -0.265 0.08"/>
  </joint>


</robot>
